<div class="container">
  <h2 class="mt-2 mb-4">Danh sách sản phẩm</h2>
  <div class="text-center mb-3 col-2">
    <button class="btn btn-success" (click)="addNewProduct()">
      <i class="fas fa-plus-circle"></i> Thêm sản phẩm mới
    </button>
  </div>
  <div class="d-flex col-5">
    <input
      type="text"
      class="search-input p-2"
      placeholder="Tìm sản phẩm"
      [(ngModel)]="keyword"
      style="border-radius: 10px; border: 1px solid #ccc"
    />
    <select
      class="product-category p-2"
      [(ngModel)]="selectedCategoryId"
      style="border-radius: 10px; margin-left: 6px; border: 1px solid #ccc"
    >
      <option [value]="0">Tất cả</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
    <button
      class="btn btn-primary"
      style="margin-left: 10px"
      (click)="searchProducts()"
    >
      Tìm kiếm
    </button>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Thumbnail</th>
            <th>Giá</th>
            <th>Quantity Sold</th>
            <th>Trạng thái</th>
            <th>Danh mục</th>
            <th>Tùy chọn</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>
              <img
                [src]="product.thumbnail"
                alt="Thumbnail"
                style="width: 80px; height: 80px; object-fit: cover"
              />
            </td>
            <td>
              {{
                product.price.toLocaleString("vi-VN", {
                  style: "currency",
                  currency: "VND"
                })
              }}
            </td>
            <td>{{ product.quantity_sold }}</td>
            <td>{{ product.status === "available" ? "Còn bán" : "Ngưng" }}</td>

            <td>{{ product.categoryName }}</td>
            <td>
              <button
                class="btn btn-primary"
                style="white-space: nowrap; margin-right: 10px"
                (click)="viewDetails(product.id)"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button
                class="btn btn-danger"
                (click)="deleteProduct(product.id)"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" *ngIf="currentPage > 0">
              <a class="page-link" (click)="onPageChange(0)">First</a>
            </li>
            <li class="page-item" *ngIf="currentPage > 0">
              <a class="page-link" (click)="onPageChange(currentPage - 1)"
                >Previous</a
              >
            </li>
            <ng-container *ngFor="let page of visiblePages">
              <li
                class="page-item"
                [ngClass]="{ active: page === currentPage + 1 }"
              >
                <a class="page-link" (click)="onPageChange(page - 1)">{{
                  page
                }}</a>
              </li>
            </ng-container>
            <li class="page-item" *ngIf="currentPage < totalPages - 1">
              <a class="page-link" (click)="onPageChange(currentPage + 1)"
                >Next</a
              >
            </li>
            <li class="page-item" *ngIf="currentPage < totalPages - 1">
              <a class="page-link" (click)="onPageChange(totalPages - 1)"
                >Last</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
