<div class="container-fluid" style="background-color: rgb(12, 12, 55)">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="login-form mx-auto">
        <h2 class="login-header">Đăng nhập</h2>
        <div class="form-group">
          <label for="phoneNumber" style="font-weight: bold; font-size: 18px"
            >Số điện thoại</label
          >
          <input
            type="text"
            class="form-control"
            name="phone"
            [(ngModel)]="phoneNumber"
            (input)="onPhoneNumberChange()"
            (focus)="loginForm.form.markAllAsTouched()"
            id="phone"
            required
          />
          <div class="divider-nospace"></div>
          <p
            class="text-danger"
            *ngIf="phoneNumber.length > 10 && loginForm.form.touched"
          >
            Mật khẩu phải ít nhất 3 ký tự
          </p>
        </div>
        <div class="mt-5"></div>
        <div class="form-group password-field">
          <label for="password">Mật khẩu</label>
          <input
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Ít nhất 3 ký tự"
            class="form-control"
            id="password"
            required
          />
          <i class="password-toggle fas fa-eye-slash"></i>
          <div class="divider-nospace"></div>
        </div>
        <div class="form-group">
          <div class="form-check checkbox-text">
            <span style="display: flex">
              <input
                type="checkbox"
                class="form-check-input"
                [ngModel]="rememberMe"
                id="remember"
              />
              <label for="remember" class="form-check-label text-start">
                Ghi nhớ đăng nhập
              </label>
            </span>
            <a href="#" class="register-link">Quên mật khẩu</a>
          </div>
        </div>
        <div class="form-group">
          <select [(ngModel)]="selectedRole" class="form-control access-right">
            <option selected disabled value="">Quyền đăng nhập</option>
            <option *ngFor="let role of roles" [ngValue]="role">
              {{ role.name }}
            </option>
          </select>
        </div>
        <button (click)="login()" type="button" class="login-button">
          Đăng nhập
        </button>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>
